@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
}

:root {
    --dark-slate: #414856;
    --electric-indigo: #4f29f0;
    --cool-silver: #c3c8de;
    --snow-white: #fafafa;
}

body {
    background: var(--electric-indigo);

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}

#container {
    background: var(--snow-white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    height: 90dvh;
    width: 90dvw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    color: var(--electric-indigo);
    font-weight: 600;
}

hr {
    border-color: var(--electric-indigo);
}

/* From Uiverse.io by zjssun */
.button {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
    color: var(--snow-white);
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--electric-indigo);
    transition: all 0.2s ease;
}

.button:active {
    transform: scale(0.96);
}

.button:before,
.button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/* input style */
#task-title-input {
    width: 15rem;
    background: var(--snow-white);
    color: var(--dark-slate);
    padding: .15rem .5rem;
    min-height: 2.5rem;
    border-radius: 4px;
    outline: none;
    border: 2px solid var(--cool-silver);
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

#task-title-input:hover {
    border: 2px solid var(--electric-indigo);
    box-shadow: 0px 0px 20px -17px;
}

#task-title-input:active {
    transform: scale(0.95);
}

#task-title-input:focus {
    border: 2px solid var(--electric-indigo);
}

/* From Uiverse.io by JkHuger */
#todo-list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    list-style: none;
    height: 80%;
    gap: 1rem;
    margin-top: 1rem;
}

#todo-list li {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

#todo-list li>span {
    color: var(--dark-slate);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;
    transition: color 0.3s ease;
    margin-right: 20px;
}

#todo-list li>span::before,
#todo-list li>span::after {
    content: "";
    position: absolute;
}

#todo-list li>span::before {
    height: 3px;
    width: 9px;
    left: -27px;
    background: var(--electric-indigo);
    border-radius: 2px;
    transition: background 0.3s ease;
}

#todo-list li>span:after {
    height: 5px;
    width: 5px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
}

#todo-list input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 16px;
    width: 16px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    display: grid;
    align-items: center;
    margin-right: 15px;
}

#todo-list input[type="checkbox"]::before,
#todo-list input[type="checkbox"]::after {
    content: "";
    position: absolute;
    height: 3px;
    top: auto;
    background: var(--electric-indigo);
    border-radius: 2px;
}

#todo-list input[type="checkbox"]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
}

#todo-list input[type="checkbox"]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
}

#todo-list input[type="checkbox"]:checked::before {
    animation: check-01 0.4s ease forwards;
}

#todo-list input[type="checkbox"]:checked::after {
    animation: check-02 0.4s ease forwards;
}

#todo-list input[type="checkbox"]:checked+span {
    color: var(--cool-silver);
    animation: move 0.3s ease 0.1s forwards;
}

#todo-list input[type="checkbox"]:checked+span::before {
    background: var(--cool-silver);
    animation: slice 0.4s ease forwards;
}

#todo-list input[type="checkbox"]:checked+span::after {
    animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
    50% {
        padding-left: 8px;
        padding-right: 0px;
    }

    100% {
        padding-right: 4px;
    }
}

@keyframes slice {
    60% {
        width: 100%;
        left: 4px;
    }

    100% {
        width: 100%;
        left: -2px;
        padding-left: 0;
    }
}

@keyframes check-01 {
    0% {
        width: 5px;
        top: auto;
        transform: rotate(0);
    }

    50% {
        width: 0px;
        top: auto;
        transform: rotate(0);
    }

    51% {
        width: 0px;
        top: 8px;
        transform: rotate(45deg);
    }

    100% {
        width: 6px;
        top: 8px;
        transform: rotate(45deg);
    }
}

@keyframes check-02 {
    0% {
        width: 5px;
        top: auto;
        transform: rotate(0);
    }

    50% {
        width: 0px;
        top: auto;
        transform: rotate(0);
    }

    51% {
        width: 0px;
        top: 8px;
        transform: rotate(-45deg);
    }

    100% {
        width: 11px;
        top: 8px;
        transform: rotate(-45deg);
    }
}

@keyframes firework {
    0% {
        opacity: 1;
        box-shadow: 0 0 0 -2px var(--electric-indigo), 0 0 0 -2px var(--electric-indigo), 0 0 0 -2px var(--electric-indigo), 0 0 0 -2px var(--electric-indigo), 0 0 0 -2px var(--electric-indigo), 0 0 0 -2px var(--electric-indigo);
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        box-shadow: 0 -15px 0 0px var(--electric-indigo), 14px -8px 0 0px var(--electric-indigo), 14px 8px 0 0px var(--electric-indigo), 0 15px 0 0px var(--electric-indigo), -14px 8px 0 0px var(--electric-indigo), -14px -8px 0 0px var(--electric-indigo);
    }
}

@media screen and (max-width: 768px) {

    main {
        height: auto;
    }

    #container {
        height: auto;
        margin: 2rem 0 2rem;
    }

    #todo-list {
        height: auto;
        flex-wrap: nowrap;
    }
}