* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    /* Deixa o rem equivalente a 10px */
    --primary-color: #1F827C;
    --font-color: #1B1C1E;
    --background-color: #FEFDFB;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.emphasis {
    color: var(--primary-color);
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0 4.0rem;

    button {
        border: 1px solid var(--primary-color);
        border-radius: 0.8rem;
        padding: 1.5rem;
        height: 4.0rem;
        font-size: 1.6rem;
        font-weight: 600;
        transition: background-color 0, 3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &.primary {
            background-color: var(--primary-color);
            color: var(--background-color);
        }

        &.outline {
            background-color: transparent;
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
        }

        &:hover {
            background-color: color-mix(in srgb, var(--primary-color), black 30%);
            color: var(--background-color);
            border-color: color-mix(in srgb, var(--primary-color), black 30%);
        }
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6.4rem;
        padding: 1.2rem 0;

        nav {
            flex: 1.8rem;

            ul {
                display: flex;
                gap: 2.0rem;
                justify-content: center;

                li {
                    font-weight: 500;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.5rem;
            width: 3.5rem;
            border: none;
            border-radius: 100%;
            background-color: var(--font-color);

            &:hover {
                background-color: color-mix(in srgb, var(--font-color), white 20%);
            }

            i {
                color: var(--background-color);
                font-size: 1.8rem;
            }


        }
    }

    #hero {
        height: 60rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 5rem 0;

        article {
            display: flex;
            flex 1;
            flex-direction: column;
            justify-content: center;
            gap: 2.5rem;

            p {
                font-size: 2.4rem;
                line-height: 2.8rem;
            }

            h1 {
                color: var(--font-color);
                font-size: 8.8rem;
                font-weight: bolder;
                line-height: 8rem;
                letter-spacing: -0.4rem;
            }

            div {
                display: flex;
                align-items: center;
                gap: 1.6rem;
            }
        }

        .frame {
            border: 1px solid var(--primary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            justify-self: end;
            align-items: center;
            width: 42.5rem;
            height: 42.5rem;

            img {
                width: 80%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}